
.pageContainer{
  display:flex;
  flex-flow: column;
  border: 1px solid black;
}

}
.instructions{
  border: 1px solid black;
  line-height: 25px;
}
.images{
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}
.imgLeftBox{
  display:flex;
  width: 150px;
  height: 150px;
}
#image1 img{
  width: 150px;
  height: 150px;
  border: 1px solid black;
  margin:auto;
}
.imgCenterBox{
  display:flex;
  width: 150px;
  height: 150px;
}
#image2 img{
  width: 150px;
  height: 150px;
  border: 1px solid black;
  margin: auto;
}
.imgRightBox{
  display:flex;
  width: 150px;
  height: 150px;
}
#image3 img{
  width: 150px;
  height: 150px;
  border: 1px solid black;
  margin: auto;
}

.graphBox{
  display:flex;
  flex-flow: column;
  border: 1px solid black;
}
.graph{
  border: 1px solid black;
}

  #resultBox{
  display: flex;
  flex-direction: column;
  align-content: stretch;
  border: 1px solid black;
}
